[project]
	description = Personal Website
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Manas Karekar (manaskarekar)
[access "refs/for/refs/*"]
	read = group user/Manas Karekar (manaskarekar)
	push = group user/Manas Karekar (manaskarekar)
	label-Code-Review = -2..+2 group user/Manas Karekar (manaskarekar)
	label-Verified = -1..+1 group user/Manas Karekar (manaskarekar)
	rebase = group user/Manas Karekar (manaskarekar)
	removeReviewer = group user/Manas Karekar (manaskarekar)
	submit = group user/Manas Karekar (manaskarekar)
[access "refs/heads/*"]
	read = group user/Manas Karekar (manaskarekar)
	create = group user/Manas Karekar (manaskarekar)
	push = +force group user/Manas Karekar (manaskarekar)
	pushMerge = group user/Manas Karekar (manaskarekar)
[access "refs/tags/*"]
	push = +force group user/Manas Karekar (manaskarekar)
	pushTag = group user/Manas Karekar (manaskarekar)
	pushSignedTag = group user/Manas Karekar (manaskarekar)
